### import packages

In [36]:
from selenium import webdriver
import pandas as pd

### open Google Chrome web browser

In [37]:
driver = webdriver.Chrome()

### go to website

In [38]:
driver.get('https://www.premierleague.com/tables')

### close adverstisement

In [39]:
driver.find_element_by_css_selector("#advertClose").click()

### get CSS selector for table

In [43]:
table = driver.find_elements_by_css_selector("#mainContent .tableBodyContainer")[0]
table.text

'1\nManchester City 27 23 3 1 79 20 +59 72\nL\nW\nW\nD\nW\nArsenal\n2\nManchester United 27 17 5 5 51 19 +32 56\nW\nW\nL\nW\nL\nChelsea\n3\nLiverpool 27 15 9 3 61 31 +30 54\nW\nL\nW\nD\nW\nWest Ham United\n4\nChelsea 27 16 5 6 49 23 +26 53\nD\nW\nL\nL\nW\nManchester United\n5\nTottenham Hotspur 27 15 7 5 52 24 +28 52\nW\nD\nW\nD\nW\nCrystal Palace\n6\nArsenal 27 13 6 8 51 36 +15 45\nL\nW\nL\nW\nL\nManchester City\n7\nBurnley 27 9 9 9 21 24 -3 36\nL\nL\nD\nD\nL\nSouthampton\n8\nLeicester City 27 9 8 10 39 40 -1 35\nD\nW\nL\nD\nL\nStoke City\n9\nEverton 27 9 7 11 32 46 -14 34\nL\nD\nW\nL\nW\nWatford\n10\nBournemouth 27 8 7 12 31 41 -10 31\nW\nD\nW\nW\nL\nNewcastle United\n11\nWatford 27 8 6 13 37 47 -10 30\nD\nL\nD\nW\nL\nEverton\n12\nWest Ham United 27 7 9 11 34 46 -12 30\nW\nD\nD\nL\nW\nLiverpool\n13\nNewcastle United 27 7 7 13 25 36 -11 28\nD\nL\nD\nD\nW\nAFC Bournemouth\n14\nBrighton and Hove Albion 27 6 10 11 22 36 -14 28\nL\nL\nD\nW\nD\nSwansea City\n15\nCrystal Palace 27 6 9 12 25 42 -17 27\nW\nL\nD\nD\nL\nTottenham Hotspur\n16\nSwansea City 27 7 6 14 20 37 -17 27\nD\nW\nW\nD\nW\nBrighton and Hove Albion\n17\nHuddersfield Town 27 7 6 14 23 47 -24 27\nL\nL\nL\nL\nW\nWest Bromwich Albion\n18\nSouthampton 27 5 11 11 28 40 -12 26\nD\nD\nD\nW\nL\nBurnley\n19\nStoke City 27 6 7 14 27 53 -26 25\nL\nW\nD\nL\nD\nLeicester City\n20\nWest Bromwich Albion 27 3 11 13 21 40 -19 20\nW\nD\nL\nL\nL\nHuddersfield Town'

### get `webelements` for all teams

In [44]:
groups = []
group_1 = table.find_elements_by_css_selector(".tableDark")[0]
groups.append(group_1)
for num in range(3, 41, 2):
        group_2 = table.find_elements_by_css_selector("tr:nth-child("+str(num)+")")[0]
        groups.append(group_2)
        
print(groups[0])

<selenium.webdriver.remote.webelement.WebElement (session="0292e25aa58914d9a1f87529ad155e69", element="0.5268132415809363-10")>

### create pandas dataframe to input table information

In [45]:
epl_table = pd.DataFrame(columns=['Ranking', 'Club', 'Pl', 'W', 'D', 'L', 'GD', 'Pts'])
epl_table

Empty DataFrame
Columns: [Ranking, Club, Pl, W, D, L, GD, Pts]
Index: []

### - get informations from CSS selectors

### - input data into dataframe

In [46]:
for team in groups:
        ranking = team.find_element_by_css_selector(".value").text
        club = team.find_element_by_css_selector(".team > a").text
        play = team.find_element_by_css_selector("td:nth-child(4)").text
        win = team.find_element_by_css_selector("td:nth-child(5)").text
        draw = team.find_element_by_css_selector("td:nth-child(6)").text
        lose = team.find_element_by_css_selector("td:nth-child(7)").text
        goal = team.find_element_by_css_selector("td:nth-child(10)").text
        pts = team.find_element_by_css_selector(".points").text
        
        data = {"Ranking" : ranking, 
        "Club" : club, 
        "Pl" : play,
        "W" : win,
        "D" : draw,
        "L" : lose,
        "GD": goal, 
        "Pts": pts}
        
        epl_table.loc[len(epl_table)] = data

### result

In [47]:
epl_table

   Ranking                      Club  Pl   W   D   L   GD Pts
0        1           Manchester City  27  23   3   1  +59  72
1        2         Manchester United  27  17   5   5  +32  56
2        3                 Liverpool  27  15   9   3  +30  54
3        4                   Chelsea  27  16   5   6  +26  53
4        5         Tottenham Hotspur  27  15   7   5  +28  52
5        6                   Arsenal  27  13   6   8  +15  45
6        7                   Burnley  27   9   9   9   -3  36
7        8            Leicester City  27   9   8  10   -1  35
8        9                   Everton  27   9   7  11  -14  34
9       10               Bournemouth  27   8   7  12  -10  31
10      11                   Watford  27   8   6  13  -10  30
11      12           West Ham United  27   7   9  11  -12  30
12      13          Newcastle United  27   7   7  13  -11  28
13      14  Brighton and Hove Albion  27   6  10  11  -14  28
14      15            Crystal Palace  27   6   9  12  -17  27
15      16              Swansea City  27   7   6  14  -17  27
16      17         Huddersfield Town  27   7   6  14  -24  27
17      18               Southampton  27   5  11  11  -12  26
18      19                Stoke City  27   6   7  14  -26  25
19      20      West Bromwich Albion  27   3  11  13  -19  20

### close driver

In [48]:
driver.close()

### remove index and replace it with `Ranking` column

In [31]:
epl_table.set_index('Ranking', inplace=True)
epl_table

                             Club  Pl   W   D   L   GD Pts
Ranking
1                 Manchester City  27  23   3   1  +59  72
2               Manchester United  27  17   5   5  +32  56
3                       Liverpool  27  15   9   3  +30  54
4                         Chelsea  27  16   5   6  +26  53
5               Tottenham Hotspur  27  15   7   5  +28  52
6                         Arsenal  27  13   6   8  +15  45
7                         Burnley  27   9   9   9   -3  36
8                  Leicester City  27   9   8  10   -1  35
9                         Everton  27   9   7  11  -14  34
10                    Bournemouth  27   8   7  12  -10  31
11                        Watford  27   8   6  13  -10  30
12                West Ham United  27   7   9  11  -12  30
13               Newcastle United  27   7   7  13  -11  28
14       Brighton and Hove Albion  27   6  10  11  -14  28
15                 Crystal Palace  27   6   9  12  -17  27
16                   Swansea City  27   7   6  14  -17  27
17              Huddersfield Town  27   7   6  14  -24  27
18                    Southampton  27   5  11  11  -12  26
19                     Stoke City  27   6   7  14  -26  25
20           West Bromwich Albion  27   3  11  13  -19  20

### save to csv file

In [32]:
epl_table.to_csv('epl_table')

### load csv file

In [33]:
data = pd.read_csv('epl_table', index_col = 0)

### return English Premier League ranking table

In [34]:
data

                             Club  Pl   W   D   L  GD  Pts
Ranking
1                 Manchester City  27  23   3   1  59   72
2               Manchester United  27  17   5   5  32   56
3                       Liverpool  27  15   9   3  30   54
4                         Chelsea  27  16   5   6  26   53
5               Tottenham Hotspur  27  15   7   5  28   52
6                         Arsenal  27  13   6   8  15   45
7                         Burnley  27   9   9   9  -3   36
8                  Leicester City  27   9   8  10  -1   35
9                         Everton  27   9   7  11 -14   34
10                    Bournemouth  27   8   7  12 -10   31
11                        Watford  27   8   6  13 -10   30
12                West Ham United  27   7   9  11 -12   30
13               Newcastle United  27   7   7  13 -11   28
14       Brighton and Hove Albion  27   6  10  11 -14   28
15                 Crystal Palace  27   6   9  12 -17   27
16                   Swansea City  27   7   6  14 -17   27
17              Huddersfield Town  27   7   6  14 -24   27
18                    Southampton  27   5  11  11 -12   26
19                     Stoke City  27   6   7  14 -26   25
20           West Bromwich Albion  27   3  11  13 -19   20

# function

In [15]:
def epl_table():
    driver = webdriver.Chrome()
    driver.get('https://www.premierleague.com/tables')
    driver.find_element_by_css_selector("#advertClose").click()
    
    table = driver.find_elements_by_css_selector("#mainContent .tableBodyContainer")[0]
    
    groups = []
    group_1 = table.find_elements_by_css_selector(".tableDark")[0]
    groups.append(group_1)
    
    for num in range(3, 41, 2):
        group_2 = table.find_elements_by_css_selector("tr:nth-child("+str(num)+")")[0]
        groups.append(group_2)
    
    epl_table = pd.DataFrame(columns=['Ranking', 'Club', 'Pl', 'W', 'D', 'L', 'GD', 'Pts'])
    
    for team in groups:
        ranking = team.find_element_by_css_selector(".value").text
        club = team.find_element_by_css_selector(".team > a").text
        play = team.find_element_by_css_selector("td:nth-child(4)").text
        win = team.find_element_by_css_selector("td:nth-child(5)").text
        draw = team.find_element_by_css_selector("td:nth-child(6)").text
        lose = team.find_element_by_css_selector("td:nth-child(7)").text
        goal = team.find_element_by_css_selector("td:nth-child(10)").text
        pts = team.find_element_by_css_selector(".points").text

        data = {"Ranking" : ranking, 
                "Club" : club, 
                "Pl" : play,
                "W" : win,
                "D" : draw,
                "L" : lose,
                "GD": goal, 
                "Pts": pts}

        epl_table.loc[len(epl_table)] = data
    
    driver.close()
    
    epl_table.set_index('Ranking', inplace=True)
    epl_table.to_csv('epl_table')
    
    return "File generated !"

In [16]:
epl_table()

'File generated !'

In [26]:
data = pd.read_csv('epl_table', index_col = 0)

In [27]:
data

                             Club  Pl   W   D   L  GD  Pts
Ranking
1                 Manchester City  27  23   3   1  59   72
2               Manchester United  27  17   5   5  32   56
3                       Liverpool  27  15   9   3  30   54
4                         Chelsea  27  16   5   6  26   53
5               Tottenham Hotspur  27  15   7   5  28   52
6                         Arsenal  27  13   6   8  15   45
7                         Burnley  27   9   9   9  -3   36
8                  Leicester City  27   9   8  10  -1   35
9                         Everton  27   9   7  11 -14   34
10                    Bournemouth  27   8   7  12 -10   31
11                        Watford  27   8   6  13 -10   30
12                West Ham United  27   7   9  11 -12   30
13               Newcastle United  27   7   7  13 -11   28
14       Brighton and Hove Albion  27   6  10  11 -14   28
15                 Crystal Palace  27   6   9  12 -17   27
16                   Swansea City  27   7   6  14 -17   27
17              Huddersfield Town  27   7   6  14 -24   27
18                    Southampton  27   5  11  11 -12   26
19                     Stoke City  27   6   7  14 -26   25
20           West Bromwich Albion  27   3  11  13 -19   20